body{
    background-color: rgb(205, 251, 251);
}
h2 {
    color:black;
    text-align: center;
    height: 50px;
}
ul {
    background-color: rgb(113, 236, 236);
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: .5px;
    text-align: left;
}
img{
    float: bottom;
    border-radius: 15px;
}
.clearfix {
    overflow: auto;
  }

  a {
    color: blue; opacity: 0.5;
}
p {
    text-indent: 2em;
    text-align: left;
}