body{
    background-color: rgb(205, 251, 251);
}
h1 {
    color:black;
    font-size: 60px;
    text-align: center;
}
h2 {
    color:black;
    font-size: 40px;
    text-align: center;

}
P {
    text-align: left;
    margin-bottom: 32px;
    font-size: 20px;
}
div {
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}
img{
    float: top;
    border-radius: 100px;
    margin-top: 32px;
    }
}
a {
    color: blue; opacity: 0.5;
}